
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body>
<h2>Demo列表</h2>
<div>
    <ol>
        <li>@Html.ActionLink("列表树", "ListTree", "Demo")</li>
    </ol>
</div>
</body>
