.blue {
    width:93px;
    height:73px;
    line-height:73px;
    background:url("images/other/theme.png") no-repeat;
    color:#1863b8; 
    text-align:center;
    margin-right:5px;
}




